In [1]:
# Importing Libraries
import pandas as pd
import numpy as np

In [2]:
# Pandas Version
pd.__version__

'1.2.4'

## Data Formats & Input / Output
    * reading and writing
        - HTML
        - JSON
        - Excel
        - Pickle
     * Survey of the other data formats

### Reading JSON

    JSON: JSON(JavaScript Object Notation) is a standardized and language-independent format

In [4]:
# Importing JSON files
json = pd.read_json('folks.json')

In [6]:
# In JSON Format ==> keys represent columns in our DataFrame
json.head()

            name  salary           occupation
0   Brian Dogood   64000  Software Technician
1     Leah Bokeh   73200       Data Scientist
2  Mark Prescott   76400  Business Consultant
3   Jurgen Gupta   94300   Aerospace Engineer

In [7]:
type(json)

pandas.core.frame.DataFrame

In [8]:
json.iloc[2]

name                Mark Prescott
salary                      76400
occupation    Business Consultant
Name: 2, dtype: object

### Reading HTML
    HTML: Hyper Text Markup Language

In [13]:
html = pd.read_html('https://en.wikipedia.org/wiki/List_of_European_countries_by_population',header=1)

In [14]:
len(html)

2

In [15]:
html[0]

,Country.mw-parser-output .nobold{font-weight:normal}(or territory),UN estimate(2018)[5][6],Estimate,Date,Regionalgrouping,Source
0,Russia [Note 1].mw-parser-output .hatnote{font...,145734038.0,146171015,1 Jan 2021,EAEU,National annual estimate[7]
1,Turkey (more),82340088.0,83614362,31 Dec 2020,NaN,National annual estimate[8]
2,Germany (more),83124418.0,83121363,31 Mar 2021,EU,National quarterly estimate[9]
3,France [Note 2] (more),64990511.0,67427000,1 Jun 2021,EU,National monthly estimate[10]
4,United Kingdom [Note 3] (more),67141684.0,67081234,30 Jun 2020,NaN,National annual estimate[11]
5,Italy (more),60627291.0,59126079,31 May 2021,EU,National monthly estimate[12]
6,Spain (more),46692858.0,47394223,1 Jan 2021,EU,National estimate[13]
7,Ukraine [Note 4] (more),44246156.0,41408239,1 Jun 2021,DCFTA,National monthly estimate[14]
8,Poland (more),37921592.0,38169000,31 May 2021,EU,National monthly estimate[15]
9,Romania (more),19506114.0,19317984,1 Jan 2020,EU,National annual estimate[16]
10,Kazakhstan (more),18319618.0,18984800,1 Jun 2021,EAEU,National estimate[17]
11,Netherlands (more),17059560.0,17509700,18 Jul 2021,EU,National population clock[18]
12,Belgium (more),11482178.0,11521238,1 Jan 2021,EU,National estimate[19]
13,Greece (more),10522246.0,10718565,1 Jan 2020,EU,National estimate[20]
14,Czech Republic (more),10665677.0,10694480,31 Mar 2021,EU,National quarterly estimate[21]
15,Sweden (more),9971638.0,10402070,31 May 2021,EU,National monthly estimate[22]
16,Portugal (more),10256193.0,10298252,31 Dec 2020,EU,National annual estimate[23]
17,Azerbaijan (more),9949537.0,10127127,1 Mar 2021,NaN,National estimate[24]
18,Hungary (more),9707499.0,9730772,1 Jan 2021,EU,National annual estimate[25]
19,Belarus (more),9452617.0,9349600,1 Jan 2021,EAEU,National quarterly estimate[26]
20,Austria (more),8891388.0,8940809,1 Apr 2021,EU,Quarterly provisional figure[27]
21,Switzerland (more),8525611.0,8526932,30 Sep 2018,EFTA,National provisional figure[28]
22,Bulgaria (more),7051608.0,6916548,31 Dec 2020,EU,National estimate[29]
23,Serbia [Note 5] (more),8802754.0,6871547,1 Jan 2021,NaN,National annual estimate[30]
24,Denmark (more),5752126.0,5843347,1 Apr 2021,EU,National quarterly estimate[31]
25,Finland (more),5522576.0,5539718,31 May 2021,EU,Monthly national estimate[32]
26,Slovakia (more),5453014.0,5459781,31 Dec 2020,EU,National estimate[33]
27,Norway (more),5337962.0,5398804,31 Mar 2021,EFTA,National quarterly estimate[34]
28,Ireland (more),4818690.0,4977400,1 Apr 2020,EU,National estimate[35]
29,Croatia (more),4156405.0,4105493,31 Dec 2017,EU,National estimate[36]
30,Georgia [Note 6] (more),4002942.0,3728600,1 Jan 2021,DCFTA,National annual estimate[37]
31,Bosnia and Herzegovina (more),3323925.0,3511372,30 Jun 2016,NaN,National estimate[38]
32,Armenia (more),2951745.0,2956900,1 Jan 2018,EAEU,National annual estimate[39]
33,Albania (more),2882740.0,2829741,1 Jan 2021,NaN,National annual estimate[40]
34,Lithuania (more),2801264.0,2783483,1 Jul 2021,EU,Monthly national estimate[41]
35,Moldova (more),4051944.0,2597100,1 Jan 2021,DCFTA,National estimate[42]
36,Slovenia (more),2077837.0,2108977,1 Jan 2021,EU,National estimate[43]
37,North Macedonia (more),2082957.0,2068808,31 Dec 2020,NaN,National estimate[44]
38,Latvia (more),1928459.0,1893223,1 Jan 2021,EU,National estimate[45]
39,Kosovo [Note 7] (more),NaN,1798506,31 Dec 2017,NaN,National annual estimate[46]
40,Estonia (more),1322920.0,1330068,1 Jan 2021,EU,National estimate[47]
41,Cyprus (more),1189265.0,864200,31 Dec 2017,EU,National annual estimate[48]
42,Luxembourg (more),604245.0,626108,1 Apr 2020,EU,National estimate[49]
43,Montenegro (more),627809.0,622359,1 Jan 2018,NaN,National estimate[50]
44,Malta (more),514564.0,514564,31 Dec 2019,EU,National estimate[51]
45,Iceland (more),336713.0,369870,31 Mar 2021,EFTA,National quarterly estimate[52]
46,Jersey (UK) (more),NaN,105500,31 Dec 2017,NaN,National estimate[53]
47,Isle of Man (UK) (more),84077.0,83314,24 Apr 2016,NaN,2016 census result[54]
48,Andorra (more),77006.0,78015,31 Dec 2020,NaN,National estimate[55]
49,Guernsey (UK) (more),NaN,62063,31 Dec 2017,NaN,National estimate[56]
50,Faroe Islands (Denmark) (more),48497.0,51237,1 Nov 2018,NaN,Monthly national estimate[57]
51,Liechtenstein (more),37910.0,39062,31 Dec 2020,EFTA,National semi annual estimate[58]
52,Monaco (more),38682.0,38350,31 Dec 2020,NaN,National annual estimate[59]
53,Gibraltar (UK) (more),33718.0,33573,31 Dec 2015,NaN,National estimate[60]
54,San Marino (more),33785.0,33599,31 May 2021,NaN,National monthly estimate[61]
55,Åland Islands (Finland) (more),NaN,30129,31 Dec 2020,EU,National estimate[62]
56,Vatican City (more),NaN,799,3 Jul 2019,NaN,National estimate[63]

In [16]:
countries = html[0].loc[:,['Country.mw-parser-output .nobold{font-weight:normal}(or territory)','Estimate']]

In [17]:
countries.head()

,Country.mw-parser-output .nobold{font-weight:normal}(or territory),Estimate
0,Russia [Note 1].mw-parser-output .hatnote{font...,146171015
1,Turkey (more),83614362
2,Germany (more),83121363
3,France [Note 2] (more),67427000
4,United Kingdom [Note 3] (more),67081234

In [20]:
countries.rename({'Country.mw-parser-output .nobold{font-weight:normal}(or territory)':'Country'},inplace=True,axis=1)

In [21]:
countries.head()

                                             Country   Estimate
0  Russia [Note 1].mw-parser-output .hatnote{font...  146171015
1                                      Turkey (more)   83614362
2                                     Germany (more)   83121363
3                             France [Note 2] (more)   67427000
4                     United Kingdom [Note 3] (more)   67081234

In [25]:
countries.replace(r'\[Note \d+](.......)','',regex=True)

                                              Country   Estimate
0   Russia ser-output .hatnote{font-style:italic}....  146171015
1                                       Turkey (more)   83614362
2                                      Germany (more)   83121363
3                                             France    67427000
4                                     United Kingdom    67081234
5                                        Italy (more)   59126079
6                                        Spain (more)   47394223
7                                            Ukraine    41408239
8                                       Poland (more)   38169000
9                                      Romania (more)   19317984
10                                  Kazakhstan (more)   18984800
11                                 Netherlands (more)   17509700
12                                     Belgium (more)   11521238
13                                      Greece (more)   10718565
14                              Czech Republic (more)   10694480
15                                      Sweden (more)   10402070
16                                    Portugal (more)   10298252
17                                  Azerbaijan (more)   10127127
18                                     Hungary (more)    9730772
19                                     Belarus (more)    9349600
20                                     Austria (more)    8940809
21                                 Switzerland (more)    8526932
22                                    Bulgaria (more)    6916548
23                                            Serbia     6871547
24                                     Denmark (more)    5843347
25                                     Finland (more)    5539718
26                                    Slovakia (more)    5459781
27                                      Norway (more)    5398804
28                                     Ireland (more)    4977400
29                                     Croatia (more)    4105493
30                                           Georgia     3728600
31                      Bosnia and Herzegovina (more)    3511372
32                                     Armenia (more)    2956900
33                                     Albania (more)    2829741
34                                   Lithuania (more)    2783483
35                                     Moldova (more)    2597100
36                                    Slovenia (more)    2108977
37                             North Macedonia (more)    2068808
38                                      Latvia (more)    1893223
39                                            Kosovo     1798506
40                                     Estonia (more)    1330068
41                                      Cyprus (more)     864200
42                                  Luxembourg (more)     626108
43                                  Montenegro (more)     622359
44                                       Malta (more)     514564
45                                     Iceland (more)     369870
46                                 Jersey (UK) (more)     105500
47                            Isle of Man (UK) (more)      83314
48                                     Andorra (more)      78015
49                               Guernsey (UK) (more)      62063
50                     Faroe Islands (Denmark) (more)      51237
51                               Liechtenstein (more)      39062
52                                      Monaco (more)      38350
53                              Gibraltar (UK) (more)      33573
54                                  San Marino (more)      33599
55                     Åland Islands (Finland) (more)      30129
56                                Vatican City (more)        799

In [27]:
countries.replace(r'\[Note \d+](.......)','',regex=True)

                                              Country   Estimate
0   Russia ser-output .hatnote{font-style:italic}....  146171015
1                                       Turkey (more)   83614362
2                                      Germany (more)   83121363
3                                             France    67427000
4                                     United Kingdom    67081234
5                                        Italy (more)   59126079
6                                        Spain (more)   47394223
7                                            Ukraine    41408239
8                                       Poland (more)   38169000
9                                      Romania (more)   19317984
10                                  Kazakhstan (more)   18984800
11                                 Netherlands (more)   17509700
12                                     Belgium (more)   11521238
13                                      Greece (more)   10718565
14                              Czech Republic (more)   10694480
15                                      Sweden (more)   10402070
16                                    Portugal (more)   10298252
17                                  Azerbaijan (more)   10127127
18                                     Hungary (more)    9730772
19                                     Belarus (more)    9349600
20                                     Austria (more)    8940809
21                                 Switzerland (more)    8526932
22                                    Bulgaria (more)    6916548
23                                            Serbia     6871547
24                                     Denmark (more)    5843347
25                                     Finland (more)    5539718
26                                    Slovakia (more)    5459781
27                                      Norway (more)    5398804
28                                     Ireland (more)    4977400
29                                     Croatia (more)    4105493
30                                           Georgia     3728600
31                      Bosnia and Herzegovina (more)    3511372
32                                     Armenia (more)    2956900
33                                     Albania (more)    2829741
34                                   Lithuania (more)    2783483
35                                     Moldova (more)    2597100
36                                    Slovenia (more)    2108977
37                             North Macedonia (more)    2068808
38                                      Latvia (more)    1893223
39                                            Kosovo     1798506
40                                     Estonia (more)    1330068
41                                      Cyprus (more)     864200
42                                  Luxembourg (more)     626108
43                                  Montenegro (more)     622359
44                                       Malta (more)     514564
45                                     Iceland (more)     369870
46                                 Jersey (UK) (more)     105500
47                            Isle of Man (UK) (more)      83314
48                                     Andorra (more)      78015
49                               Guernsey (UK) (more)      62063
50                     Faroe Islands (Denmark) (more)      51237
51                               Liechtenstein (more)      39062
52                                      Monaco (more)      38350
53                              Gibraltar (UK) (more)      33573
54                                  San Marino (more)      33599
55                     Åland Islands (Finland) (more)      30129
56                                Vatican City (more)        799